<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap 5 Website Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    .fakeimg {
      height: 200px;
      background: #aaa;
    }
    .footer{
      margin-top: auto;
    }

  </style>
</head>
<body>

<div class="p-5 bg-primary text-white text-center">
  <h1>My First Bootstrap 5 Page</h1>
  <p>Resize this responsive page to see the effect!</p>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/' %} active {% endif %}" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/contact/' %} active {% endif %}" href="{% url 'contact' %}">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/aboutus/' %} active {% endif %}" href="{% url 'aboutus' %}">About Us</a>
      </li>
    </ul>
      <ul class="navbar-nav ms-auto">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="#">{{user.username}}</a>
      </li>
      <li class="nav-item">
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
        <button type="submit" class="nav-link">Logout</button>
        </form>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'signup' %}">Signup</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>

<div class="container mt-4">
  {% block content %}
  {% endblock %}
</div>

<div class="footer mt-5 p-4 bg-dark text-white text-center">
  <p>Footer</p>
</div>

</body>
</html>