{% extends 'base.html' %}

{% block content %}
<!--{{posts}}-->
<!--{{Title}}-->

<!--{% for post in posts %}-->
<!--    <h3>{{post.title}}</h3>-->
<!--    <p><b>Author:</b> {{post.author}}</p>-->
<!--    <p><b>Date:</b> {{post.date_posted}}</p>-->
<!--    {{post.content}}-->
<!--{% endfor %}-->
<h1>Hello from 'products' website!!!</h1>
{% endblock %}