{% extends 'base.html' %}

{% block content %}

<h1>Hello from 'signup' website!!!</h1>

<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">SIGN UP!</button>
</form>
{% endblock %}