{% extends 'base.html' %}

{% block content %}
<style>
.login-container {
    background-color: #ffffff;
    padding: 20px 40px;
    /*border: solid 2px red;*/
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin-left: 37%;
}

.login-container h1 {
    margin-bottom: 24px;
    font-size: 24px;
    color: #333333;
}

.input-group {
    margin-bottom: 16px;
    text-align: left;
    font-weight: bold;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #666666;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333333;
}

.input-group input:focus {
    outline: none;
    border-color: #007bff;

}

.login-button {
    width: 100%;
    padding: 10px 0;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3;
}
</style>
<div class="login-container">
        <h1>Login to account</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required placeholder="Enter Username">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required placeholder="Enter Password">
            </div>
            <button type="submit" class="login-button">Login</button>
        </form>
    </div>
{% endblock %}