{% extends 'base.html' %}

{% block content %}
<h1>Hello from 'signup' webpage!!!</h1>

<h2>Sign Up</h2>
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Sign Up</button>
</form>
{% endblock %}
