{% extends 'base.html' %}

{% block content %}
<h1>Hello from Posts website!!!</h1>

<h3>Create</h3>

<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Save</button>
</form>


<a href="{% url 'home' %}">Back to home</a>


{% endblock %}