{% extends 'base.html' %}

{% block content %}
<h1>Hello from Comments webpage!!!</h1>

{{posts}}
<h3>{{posts.title}}</h3>
<p>by <b>Author:</b> {{posts.author}} on {{posts.date_posted}}</p>
{{posts.content}}

<h3>Comments</h3>
<ul>
    {% for comment in comments %}
    <li>
        <p>{{comment.content}} - by <b> {{comment.author}}</b> on {{comment.date_posted}}</p>
    </li>
    {% endfor %}
</ul>

<h3>Add a Comment</h3>

<form method="POST">
    {% csrf_token %}
    {{comment_form.as_p}}
    <button type="submit">Add comment</button>
</form>


<a href="{% url 'home' %}">Back to home</a>


{% endblock %}